<?xml version="1.0" encoding="UTF-8"?>
<widget>
    <type>user</type>
    <ver>1.0</ver>
    <mgrver>1.000</mgrver>
    <network>n</network>
    <fullwidget>y</fullwidget>
    <category>video</category>
    <movie>n</movie>
    <srcctl>n</srcctl>
    <ticker>n</ticker>
    <audiomute>y</audiomute>
    <videomute>y</videomute>
    <dcont>y</dcont> 
    <apptype>11</apptype> 
    <widgetname>Надежда ТВ</widgetname>
    <description>Телеканал Надежда - это позитивное, семейное, домашнее телевидение, основанное на христианских ценностях. В эфире: молодежные, семейные, детские, музыкальные, просветительские и познавательные программы.</description>
    <width>960</width>
    <height>540</height>    
    <ThumbIcon>app/icon/106x87.png</ThumbIcon>
    <BigThumbIcon>app/icon/115x95.png</BigThumbIcon>
    <ListIcon>app/icon/85x70.png</ListIcon>
    <BigListIcon>app/icon/95x78.png</BigListIcon>
    <ThumbIconHD>app/icon/HD/158x130.png</ThumbIconHD>
    <BigThumbIconHD>app/icon/HD/173x143.png</BigThumbIconHD>
    <ListIconHD>app/icon/HD/128x105.png</ListIconHD>
    <BigListIconHD>app/icon/HD/143x118.png</BigListIconHD>
    <author>
        <name>Hope Media Center</name>
        <email>nadezhda.tv@gmail.com</email>
        <link>http://www.hopetv.ru/</link>
        <organization>Hope Media Center</organization>
    </author>
</widget>
